.main__container {
				height: calc(100% - 121px);
				display: flex;
			}
			.sample__container {
				height: 100%;
				width: calc(100% - 248px);
				overflow: auto;
			}
			.dhx_sample-controls {
				background: #fff;
			}
			.dhx_sample-slider__container {
				width: 350px;
			}
			.template {
				height: 100%;
				/*height: 90px;*/
				display: flex;
				align-items: center;
				justify-content: center;
				background: white;
				color: rgba(0, 0, 0, 0.7);
				border: 1px solid #DFDFDF;
				padding: 10px 12px;
				cursor: pointer;
			}
			.template span {
				display: flex;
			}
			.template h3, .template p {
				text-align: center;
				font-size: 14px;
				line-height: 20px;
				height: 20px;
				margin: 0 0 4px 0;
				/*overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;*/
				font-weight: 600;
			}
			.template .template_container {
				height: 100%;
				width: 100%;
				overflow: hidden;
				position: relative;
			}
			.template .template_img-container {
				/*min-width: 93px; */
				min-width: 65px;
				width: 93px;
				margin-right: 12px;
			}
			.template .template_img-container-medium {
				min-width: 44px;
				width: 44px;
				margin-right: 12px;
			}
			.template .template_img-container img, .template_img-container-medium img {
				width: inherit;
				height: auto;
				max-width:100%;
			}
			.template .template_icon {
				height: 20px;
				width: 20px;
				margin-right: 4px;
			}
			.dhx_selected .template {
				outline: 2px solid #8c8c8c;
			}
			.sidebar__container {
				min-width: 248px;
				width: 248px;
				height: 100%;
				background: #fff;
				border-left: 1px solid #DFDFDF;
				padding: 20px;
				display: flex;
				flex-direction: column;
			}
			.sidebar__container a {
				display: block;
				text-align: center;
				width: 100%;
				height: 28px;
				line-height: 28px;
				color: #fff;
				background: #0288D1;
				border-radius: 14px;
				margin-top: 28px;
			}
			.sidebar__container span {
				font-size: 14px;
				line-height: 20px;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				color: rgba(0, 0, 0, 0.7);
				padding: 4px 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.sidebar__container span#name{
				font-size: 14px;
				line-height: 20px;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				color: rgba(0, 0, 0, 0.7);
				padding: 4px 0;
				overflow: hidden;
				text-overflow: ellipsis;
				    white-space: unset;
				
			}
			.sidebar__container img {
				max-width:100%;
				width: auto;
				/*background: #8c8c8c;*/
				margin-bottom: 28px;
			}